<!DOCTYPE html>
<html>

<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <title>CobuildIT Inventory System</title>
    <style>
        html,
        body {
            height: 100%;
        }

        .body {}
    </style>
</head>

<body class="body">
    <div class="main-body">
        {{{body}}}
    </div>

    {{!-- footer --}}
    {{!-- <footer style="border-top: solid 1px #eee; padding-top: 1em">
        <style>
            .footer-container {
                overflow-y: hidden;
                overflow-x: hidden;
            }
        </style>
        <div class="footer-container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <p class="text-muted">Web Inventory System | &copy; Copyright 2020 All Rights Reserved
                    </p>
                    <p class="text-muted">
                        Powered by
                        <a href="https://www.cobuildit.com" target="blank">
                            CobuildIT.com</a>

                    </p>
                    <p class="text-center">
                        <a href="#"><i class="fa fa-twitter-square fa-2x text-primary"></i></a>
                        <a href="#"><i class="fa fa-facebook-square fa-2x text-primary"></i></a>
                        <a href="#"><i class="fa fa-linkedin-square fa-2x text-primary"></i></a>
                    </p>
                </div>
            </div>
        </div>
    </footer> --}}
    {{!-- end of footer --}}
</body>

</html>