<h1>YOUR DASHBOARD COMES HERE</h1>
<p>

	After series of reviews and considerations on the fact that this project was done for a client, <br>
	the inner frontend project was therefore removed.<br>
	
	<br>
	You can customise your project however you want it.
</p>
