<head>
    <style>
        .main {
            align-items: center;
            text-align: center;
            padding: 4rem 5rem;
        }

        .body {
            text-align: left;
            margin: 2rem 8rem;
        }

        .body h4 {
            font-family: New Times, serif;
            font-size: 30px;
        }

        .body p {
            font-size: 18px;
            font-family: New times, serif;
        }
    </style>
</head>

<div class="main">
    <div class="header">
        <img src="/img/inv.png" alt="inventory" />
    </div>

    <div class="body">

        <h4>Account Activation</h4>
        <p>hi, {{ user }}</p>
        <p>Welcome to our online inventory system. <br>
            Please use the link below to confirm your account.</p>

        <a href="#" class="btn btn-primary">Confirm your account</a>
    </div>
</div>